{% extends '_base.html' %}
{% load static %}

{% block content %}

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Waterboom Taman Mangat Ceria
                        {% comment %} <p></p>
                        <a href="#" class="primary-btn">Discover Now</a> {% endcomment %}
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>Pesan Tiket anda sekarang juga !</h3>
                    <form action="{% url 'order' %}">
                        <button type="submit">Pesan tiket</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="static/img/hero/wt2.jpeg"></div>
        <div class="hs-item set-bg" data-setbg="static/img/hero/wt.jpeg"></div>
    </div>
</section>
<!-- Hero Section End -->

<!-- About Us Section Begin -->
<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>About </span>
                        <h2>Waterboom<br />Taman Mangat Ceria</h2>
                    </div>
                    <p class="f-para">Waterboom yang berada di Jln. Exxon Mobil, Desa Blang Buloh, Kec. Blang
                        Mangat, Kota Lhokseumawe adalah
                        tempat berkerasi atau tempat menghilangkan lelah bersama keluarga anda.
                    </p>
                    <a href="/about" class="primary-btn about-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="{% static 'img/about/1.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img src="{% static 'img/about/2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->

<!-- Services Section End -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>What We Do</span>
                    <h2>Discover Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-036-parking"></i>
                    <h4>Parking</h4>
                    <p>Tersedia tempat parkir yang luas.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-033-dinner"></i>
                    <h4>Catering Service</h4>
                    <p>Menyediakan Makan ringan dan berat untuk semua kalangan mulai dari
                        anak-anak hingga lansia.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-012-cocktail"></i>
                    <h4>Drink</h4>
                    <p>Tersedia juga segala jenis minuman. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->


<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Testimonials</span>
                    <h2>What Customers Say?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="testimonial-slider owl-carousel">
                    <div class="ts-item">
                        <p>Bersih. Dan air selalu jernih. Luas t4 nya. Harga semua terjangkau.</p>
                        <div class="ti-author">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star-half_alt"></i>
                            </div>
                            <h5> - Gilang Raditya (Geboy)</h5>
                        </div>
                        <img src="{% static 'img/testimonial-logo.png' %}" alt="">
                    </div>
                    <div class="ts-item">
                        <p>Lokasi lumayan bersih kalau dibandingkan dengan Waterboom lain yang cenderung kurang
                            terjaga kebersihannya. Tetap wajib tutup aurat, bahkan kolam laki laki dan perempuan di
                            pisah, laki laki tidak boleh pakai celana terlalu pendek dan bertelanjang dada, berbeda
                            dengan beberapa peraturan Waterboom yang malah tidak memperbolehkan memakai baju lengkap
                            saat berenang.
                            Ada juga spot cantik yang Instagram able untuk foto foto.</p>
                        <div class="ti-author">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star-half_alt"></i>
                            </div>
                            <h5> - Bunda dan Azzam</h5>
                        </div>
                        <img src="{% static 'img/testimonial-logo.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Hotel News</span>
                    <h2>Our Blog & Event</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-item set-bg" data-setbg="static/img/blog/1.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Pemandangan Luas</span>
                        <h4><a href="#"></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item set-bg" data-setbg="static/img/blog/2.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Kolam Luas</span>
                        <h4><a href="#"></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item set-bg" data-setbg="static/img/blog/3.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Ember Tumpah</span>
                        <h4><a href="#"></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog-item small-size set-bg" data-setbg="static/img/blog/8.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Kolam Anak-anak</span>
                        <h4><a href="#"></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item small-size set-bg" data-setbg="static/img/blog/4.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Ember Tumpah</span>
                        <h4><a href="#"></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
{% endblock content %}